<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <meta name="robots" content="noindex,nofollow">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% stylesheets 
            '@DanLynElasticsearchExplorerBundle/Resources/public/css/bootstrap.min.css' 
            '@DanLynElasticsearchExplorerBundle/Resources/public/css/bootstrap-theme.min.css' 
            '@DanLynElasticsearchExplorerBundle/Resources/public/css/font-awesome.min.css' filter='cssrewrite' 
            '@DanLynElasticsearchExplorerBundle/Resources/public/css/main.css' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}">
        {% endstylesheets %}
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="{{ path('dan_lyn_elasticsearch_explorer_start') }}">
                                <span class="fa fa-home"></span>
                                {% trans %}Home{% endtrans %}
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('dan_lyn_elasticsearch_explorer_search') }}">
                                <span class="fa fa-search"></span>
                                {% trans %}Search{% endtrans %}
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('dan_lyn_elasticsearch_explorer_config') }}">
                                <span class="fa fa-cog"></span>
                                {% trans %}Configuration{% endtrans %}
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('dan_lyn_elasticsearch_explorer_plugins') }}">
                                <span class="fa fa-puzzle-piece"></span>
                                {% trans %}Plugins{% endtrans %}
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/dan-lyn/ElasticsearchExplorerBundle" target="_blank">
                                <span class="fa fa-github"></span>
                                {% trans %}GitHub{% endtrans %}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            {% block content %}{% endblock %}
        </div>

        {% javascripts 
            '@DanLynElasticsearchExplorerBundle/Resources/public/js/vendor/jquery.js' 
            '@DanLynElasticsearchExplorerBundle/Resources/public/js/vendor/jquery.cookie.js' 
            '@DanLynElasticsearchExplorerBundle/Resources/public/js/bootstrap.min.js' 
            '@DanLynElasticsearchExplorerBundle/Resources/public/js/search.min.js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </body>
</html>
