<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <meta name="robots" content="noindex,nofollow">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% stylesheets '@DanLynElasticsearchExplorerBundle/Resources/public/css/normalize.css' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% stylesheets '@DanLynElasticsearchExplorerBundle/Resources/public/css/foundation.min.css' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% stylesheets '@DanLynElasticsearchExplorerBundle/Resources/public/icons/foundation-icons.css' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% stylesheets '@DanLynElasticsearchExplorerBundle/Resources/public/css/main.css' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    </head>
    <body>
        <div class="contain-to-grid sticky">
            <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
                <ul class="title-area">
                    <li class="name"></li>
                    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
                </ul>

                <section class="top-bar-section">
                    <ul class="left">
                        <li><a href="{{ path('dan_lyn_elasticsearch_explorer_start') }}"><span class="fi-home"></span>Home</a></li>
                        <li><a href="{{ path('dan_lyn_elasticsearch_explorer_search') }}"><span class="fi-magnifying-glass"></span>Search</a></li>
                        <li><a href="{{ path('dan_lyn_elasticsearch_explorer_config') }}"><span class="fi-widget"></span>Configuration</a></li>
                        <li><a href="{{ path('dan_lyn_elasticsearch_explorer_plugins') }}"><span class="fi-puzzle"></span>Plugins</a></li>
                        <li><a href="https://github.com/dan-lyn/ElasticsearchExplorerBundle" target="_blank"><span class="fi-social-github"></span>GitHub</a></li>
                    </ul>
                </section>
            </nav>
        </div>

        <div class="content">
            {% block content %}{% endblock %}
        </div>

        {% javascripts '@DanLynElasticsearchExplorerBundle/Resources/public/js/vendor/jquery.js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% javascripts '@DanLynElasticsearchExplorerBundle/Resources/public/js/vendor/jquery.cookie.js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% javascripts '@DanLynElasticsearchExplorerBundle/Resources/public/js/vendor/modernizr.js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% javascripts '@DanLynElasticsearchExplorerBundle/Resources/public/js/vendor/placeholder.js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% javascripts '@DanLynElasticsearchExplorerBundle/Resources/public/js/vendor/fastclick.js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% javascripts '@DanLynElasticsearchExplorerBundle/Resources/public/js/foundation.min.js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% javascripts '@DanLynElasticsearchExplorerBundle/Resources/public/js/main.min.js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% javascripts '@DanLynElasticsearchExplorerBundle/Resources/public/js/search.min.js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </body>
</html>
