{% extends 'DanLynElasticsearchExplorerBundle:Default:layout.html.twig' %}

{% block title 'ElasticsearchExplorer: Search' %}

{% block content %}

{% if indexes %}
<form>
    <div class="row">
        <div class="large-12 columns">
            <label>Select index:
                <select id="search-select-index">
                    <option value="-1">...</option>
                {% for index in indexes %}
                    <option value="{{ index.name }}"{% if searchindex==index.name %} selected{% endif %}>{{ index.name }}</option>
                {% endfor %}
                </select>
            </label>
        </div>
    </div>

    <div class="row{% if searchindex == false %} invisible{% endif %}">
        <div class="large-12 columns">
            <label>Select type:
                <select id="search-select-type">
                    <option value="-1">...</option>
                {% for type in types %}
                    <option value="{{ type.name }}"{% if searchtype==type.name %} selected{% endif %}>{{ type.name }}</option>
                {% endfor %}
                </select>
            </label>
        </div>
    </div>

    <div class="row{% if searchtype == false %} invisible{% endif %}">
        <div class="large-12 columns">
            <label>Search in field: <a href="#" data-reveal-id="modalFields"><span class="fi-info"></span></a>
                <select class="searchfield" name="searchfield[]" multiple="multiple">
                    {% for field in fields %}
                    <option value="{{ field.name }}"{% if field.name in searchfield %} selected{% endif %}>{{ field.name }}</option>
                    {% endfor %}
                </select>
            </label>

            <div id="modalFields" class="reveal-modal" data-reveal>
                <h5>Fields</h5>
                <table>
                    <thead><tr><th><strong>Name</strong></th><th><strong>Type</strong></th><th>Index</th></tr></thead>
                    {% for field in fields %}
                    <tr><td>{{ field.name }}</td><td>{{ field.type }}</td><td>{{ field.index }}</td></tr>
                    {% endfor %}
                </table>
                <a class="close-reveal-modal">&#215;</a>
            </div>
        </div>
    </div>

    <div class="row{% if searchtype == false %} invisible{% endif %}">
        <div class="large-12 columns">
            <label>Search for:
                <input name="searchterm" type="text" value="{% if searchterm %}{{ searchterm }}{% endif %}" required />
            </label>
        </div>
    </div>

    <div class="row{% if searchtype == false %} invisible{% endif %}">
        <div class="large-12 columns">
            <input class="button" type="submit" value="Start search!" />
        </div>
    </div>
</form>
{% endif %}

{% if results %}
    {% for result in results %}
    <div class="row search-row">
       <div class="large-12 columns">
       {{ dump(result._source) }} 
       </div>
    </div>
    {% endfor %}
{% endif %}

{% endblock %}
