{% extends 'DanLynElasticsearchExplorerBundle:Default:layout.html.twig' %}

{% block title 'ElasticsearchExplorer: Search' %}

{% block content %}

{% if indexes %}
<div class="col-sm-4">
    <form>
        <table class="table table-borderless">
            <tr>
                <td class="vertical-middle"><label>{% trans %}Select index{% endtrans %}</label></td>
                <td>
                    <select id="search-select-index">
                        <option value="-1">...</option>
                    {% for index in indexes %}
                        <option value="{{ index.name }}"{% if searchindex==index.name %} selected{% endif %}>{{ index.name }}</option>
                    {% endfor %}
                    </select>
                </td>
            </tr>

            <tr class="{% if searchindex == false %}invisible{% endif %}">
                <td class="vertical-middle"><label>{% trans %}Select type{% endtrans %}</label></td>
                <td>
                    <select id="search-select-type">
                        <option value="-1">...</option>
                    {% for type in types %}
                        <option value="{{ type.name }}"{% if searchtype==type.name %} selected{% endif %}>{{ type.name }}</option>
                    {% endfor %}
                    </select>
                </td>
            </tr>

            <tr class="{% if searchtype == false %} invisible{% endif %}">
                <td><label>{% trans %}Search in field{% endtrans %}</label></td>
                <td>
                    <select class="searchfield" name="searchfield[]" multiple="multiple" required>
                        {% for field in fields %}
                        <option value="{{ field.name }}"{% if field.name in searchfield %} selected{% endif %}>{{ field.name }}</option>
                        {% endfor %}
                    </select>
                    <a href="#" data-toggle="modal" data-target="#infoModal"><span class="fa fa-info-circle"></span></a>

                    <div id="infoModal" class="modal fade" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Fields</h5>
                                </div>
                                <div class="modal-body">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th><strong>{% trans %}Name{% endtrans %}</strong></th>
                                                <th><strong>{% trans %}Type{% endtrans %}</strong></th>
                                                <th>{% trans %}Index{% endtrans %}</th>
                                            </tr>
                                        </thead>
                                        {% for field in fields %}
                                        <tr>
                                            <td>{{ field.name }}</td>
                                            <td>{{ field.type }}</td>
                                            <td>{{ field.index }}</td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>

            <tr class="{% if searchtype == false %} invisible{% endif %}">
                <td class="vertical-middle"><label>{% trans %}Search for{% endtrans %}</label></td>
                <td><input name="searchterm" type="text" value="{% if searchterm %}{{ searchterm }}{% endif %}" required /></td>
            </tr>

            <tr class="{% if searchtype == false %} invisible{% endif %}">
                <td colspan="2">
                    <input class="button" type="submit" value="{% trans %}Start search{% endtrans %}!" />
                </td>
            </tr>
        </table>
    </form>
</div>
{% endif %}

{% if results %}
    {% for result in results %}
    <div class="search-row">
        <div class="col-sm-12 panel panel-info">
            <table class="table table-hover">
            {% for resultSourceKey,resultSource in result._source %}
                <tr>
                    <td><strong>{{ resultSourceKey }}</strong></td>
                    <td>{{ resultSource }}</td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>
    {% endfor %}
{% endif %}

{% endblock %}
